[2017-02-11 17:29] vsoch commented on #583
Ah ok! Then what about, instead of a flat shutil rmtree, walking the directory first, changing the permission of each file, deleting, and then deleting the directory as a final step? Then if the error triggers again we would also know the exact file being looped over.

I'd still do the whole shabang with a celery job too.

[2017-03-05 21:37] tyarkoni commented on #535
Ping!

[2017-03-06 12:50] bcipolli opened #584 "PEP8 / Flake8 / modularize the codebase"
Some aspects of the code in the repo are low:

* Doesn't follow style standards for spacing, line length, etc. (PEP8)
* Lots of unused imports, some unused variables (Flake8)
* Modules can be thousands of lines long, rather than being broken into submodules. For examples, `neurovault/statmaps/models.py` could be broken into at least 3 files in a helpful, meaningful way (`collection.py`, `image.py`

[2017-03-08 02:29] chrisfilo commented on #584
That makes a lot of sense. We have been messy!

[2017-03-08 19:28] #535 closed

[2017-04-12 15:22] cmaumet commented on #583
I am trying to reproduce this error in a local dev instance but did not manage so far...

So, I just wanted to confirm whether this issue had been solved in the meantime? If not, I will try again to see if I can reproduce it!

[2017-04-12 15:48] chrisfilo commented on #583
That would be great. Thanks!

On Wed, Apr 12, 2017 at 8:22 AM, Camille Maumet <notifications@github.com>
wrote:

[2017-04-13 12:30] cmaumet commented on #583
@chrisfilo: I did try but unfortunately could not reproduce the error. Can we close this issue and I will reopen one with a more precise description if we get this error again in the future?

[2017-04-13 14:19] #583 closed

[2017-04-13 19:58] #577 closed

[2017-04-13 20:06] chrisgorgo opened #589 "Gene enrichment analysis"
Via link to an external website, top 500 genes passed via URL.

[2017-05-26 23:52] jokedurnez opened #591 "Can't select task-switching"
When editing image metadata, I can't select task-switching. It is in the dropdown list, but when I select it, I can't save it.

[2017-05-26 23:55] chrisfilo commented on #591
I just tried this and it seems to work:
![image](https://cloud.githubusercontent.com/assets/238759/26515884/13ece9ac-4234-11e7-8ffc-dea7bead93b9.png)

Which browser do you use?

[2017-05-27 03:07] jokedurnez commented on #591
![This is what happens...](https://cloud.githubusercontent.com/assets/7630327/26517509/d9fa8770-424e-11e7-888f-b025e4976f9d.gif)

Using chrome.

[2017-05-27 03:33] chrisfilo commented on #591
I can replicate this - how bizarre!

[2017-06-11 15:49] jokedurnez opened #594 "re-upload after removing in collection takes old image"
I removed a map from a certain collection, to add an updated version with the same name later (as part of a zip-file).  The old maps were there again.  I had to start a new collection to get the new maps.

[2017-06-12 08:45] erramuzpe commented on #594
I will work on this and in #299, they are somehow related (some details of how deletes, updates and saves work on models.py). I had the problem solved for #299 in the GSoC project, so I will reuse/convert the tests used for that case and take a look to this one. :+1:

give me some days :)

[2017-06-12 15:01] chrisfilo commented on #594
Thanks!

On Jun 12, 2017 1:45 AM, "Asier Erramuzpe" <notifications@github.com> wrote:

[2017-06-14 12:08] erramuzpe commented on #594
It is not just with zip-files, for single file uploads does not work either.

Also:

1.- Create collection
2.- Add map and delete
3.- Add another map with same name -> bug (2nd step map)
4.- Add another map with same same -> no bug
5.- Delete map from step 3
6.- Add another map with same name -> bug again (2nd step map)

[2017-07-24 15:53] chrisgorgo opened #596 "Add support for folders in collections"
https://neurovault.uservoice.com/forums/210717-general/suggestions/20247562-include-folder-structure-in-collection

[2017-09-15 10:54] AlexBowring opened #597 "Server Error (500) when deleting nidm pack from Neurovault Collection"
Hi,

I just tried to delete a NIDM pack spm_0001.nidm from my collection on Neurovault:
[https://neurovault.org/collections/2488/](https://neurovault.org/collections/2488/)

When I clicked delete I got a page that just said Server Error 500 on it. The nidm pack still exists in the collection and when you click on it it just takes you to the page with the error, at this address:
[https://neurovault

[2017-09-15 11:04] cmaumet commented on #597
Hi!

This looks like another occurrence of https://github.com/NeuroVault/NeuroVault/issues/583.

If you have the possibility to check on the server:

 1. Whether the `spm_0001.nidm` directory is still present
 2. If 1. is `true` whether there are remaining files in the `spm_0001.nidm` directory and if so which files and if they are read-only?

This could help us track this down a bit further as I

[2017-09-16 05:27] chrisfilo commented on #597
The opbeat error has regressed: https://opbeat.com/neurovault/neurovault/errors/240/
There is also a new one related: https://opbeat.com/neurovault/neurovault/errors/274/

As for your questions:

[code]

[code]

I hope this helps!

[2017-09-19 12:13] cmaumet commented on #597
Thanks for the file listing! As discussed on opbeat, it looks like the 'Directory non empty' error can happen with `shutil.rmtree` when the files in the folder to be deleted are read-only (cf. http://stackoverflow.com/questions/26109244/python-shutil-rmtree-throwing-errors).

Now that we know a bit more about the problem, I will try again to replicate this issue and will get back to you.

[2017-09-19 13:05] cmaumet commented on #597
Hi @chrisfilo,

I managed to reproduce the error but only on the production server (sorry!) here are the steps:
 - Create a new **public** collection
 - Upload to your new collection the NIDM-Results pack available at: https://neurovault.org/collections/2488/spm_0001.nidm.zip
 - Delete the NIDM-Results pack
 => Error 500

I am quite convinced that the error is related to the presence of read-only

[2017-09-19 16:30] #597 closed

[2017-09-19 19:21] chrisfilo commented on #597
Thanks for the fantastic investigative work and the patch.

I deployed the fix as well and deleted the requested files and the collection you mentioned.

[2017-10-20 16:42] tyarkoni opened #600 "Mismatch in number of public collections"
The number of public collections listed at [https://neurovault.org/collections/stats](https://neurovault.org/collections/stats) doesn't match what's visible in the table under "see all collections"--possibly because the former counts empty collections and the latter doesn't (per @chrisfilo's speculation). Probably makes sense to drop empty collections from all counts on the stat page.

[2017-11-29 20:04] muschellij2 opened #603 "NIDM number of results don't match"
In the API for NIDM-results, I found:

https://neurovault.org/api/nidm_results/?limit=100&offset=300 returns a 500 error, but the count as per (https://neurovault.org/api/nidm_results) indicates the count is 356.   Also https://neurovault.org/api/nidm_results/?limit=56&offset=300 return 500.

The url of
https://neurovault.org/api/nidm_results/?limit=25&offset=300 does not,
nor does
https://neurova

[2017-11-29 20:15] chrisfilo commented on #603
It seems one of the files is corrupted.
[code]

This is the problematic collection: https://neurovault.org/collections/2488/

https://opbeat.com/neurovault/neurovault/errors/242/

[2017-11-30 21:04] chrisfilo opened #604 "Add link to R API in the FAQ"
https://github.com/muschellij2/neurovault

@muschellij2 - would you like your repository to be featured there?

[2017-11-30 21:22] muschellij2 commented on #604
Yeah - that'd be great.

[2017-12-01 19:43] chrisfilo commented on #603
The corrupted entry has been removed.

[2017-12-01 19:43] #603 closed

[2017-12-01 21:47] #604 closed

[2018-01-16 16:19] cmaumet opened #607 "Excursion set not displayed in NIDM-Results collections"
Hi,

@satra reported that the excursion sets are not displayed for the NIDM packs in this collection: https://neurovault.org/collections/1425/

For example, with https://neurovault.org/collections/1425/pain_01.nidm , we get a red message saying "There was a problem reading that file (ExcursionSet.nii.gz)".

I've tried to debug the issue but have not managed so far. I can reproduce the problem on a

[2018-01-16 16:48] chrisfilo commented on #607
Might be worth looking into JS error console with Chorme Developer Tools.

Best,
Chris

On Tue, Jan 16, 2018 at 10:25 AM, Vanessa Sochat <notifications@github.com>
wrote:

[2018-01-17 15:00] cmaumet commented on #607
Thanks! You were both right! I've sent a PR to the nidmviewer: https://github.com/vsoch/nidmviewer/pull/19.

[2018-01-17 15:18] cmaumet commented on #607
(and also a small edit to NeuroVault: https://github.com/NeuroVault/NeuroVault/pull/608).

[2018-01-17 18:07] chrisfilo opened #609 "Problems with handling special characters ('<') in filenames"
[code]

[2018-01-23 02:19] chrisfilo commented on #607
We currently have the following config:
[code]

Should I switch rewrite to 301?

[2018-01-23 02:38] satra commented on #607
@chrisfilo - it's the appropriate http redirect message.

regarding the current issue, i see an appropriate redirect with wget. therefore it's likely that whatever is in the code that's pulling the file is not able to follow. i'll take a look in a second.

[code]

[2018-01-23 02:40] chrisfilo commented on #607
Maybe the difference is in 'www'?

Best,
Chris

On Mon, Jan 22, 2018 at 6:38 PM, Satrajit Ghosh <notifications@github.com>
wrote:

[2018-01-23 03:00] satra commented on #607
the issue is in the nidmviewer: just sent a PR: https://github.com/vsoch/nidmviewer/pull/23

[2018-01-23 03:06] vsoch commented on #607
@satra is a badass, solves the entire thing with one line! lol.

[2018-01-23 03:16] vsoch commented on #607
But isn't there somewhere in NeuroVault that edits the url on upload? For example this file https://neurovault.org/collections/1425/pain_01.nidm.ttl the Excursion set map has `http://` (see `prov:atLocation`)

[code]
The nidmviewer would be relevant only if it were retrieving (and redownloading the files to tmp) every single time, but retrieve isn't set here https://github.com/NeuroVault/NeuroVaul

[2018-01-23 03:46] satra commented on #607
@vsoch - on the Web a URL scheme is like an API. so yes if the API changes it should continue to support the old case, or rewrite the files.

in an upload, neurovault could in the future rewrite the document with an @base prefix set to <https://neurovault.org/> and then leave all the prov atLocations as <collections/...>. a proper turtle reader would then do @base+<collections/...>.

but that's no

[2018-01-23 16:00] satra commented on #607
@chrisfilo - i'm not sure the current redirect is generating a 301 return code. with requests i'm getting 200 - OK, but i need to check more.

[2018-01-23 16:02] chrisfilo commented on #607
Ok - thanks for looking into this.

Let me know if you would like me to implement any specific changes.

Best,
Chris

On Tue, Jan 23, 2018 at 8:00 AM, Satrajit Ghosh <notifications@github.com>
wrote:

[2018-01-23 16:03] vsoch commented on #607
just to update the comments here - I have a big PR to put in for nidmviewer, but need a little more time (a bit busy this morning!). I will update when I can do this.

[2018-01-23 16:16] chrisfilo opened #610 "Collections added via API are marked as 'is_valid==False'"

[2018-02-08 05:09] adelavega opened #612 "Adding images via API"
Good chance this is user error but I'm having a hard time pushing images to collections via the API.

Example command with token removed (

    curl -L -H "Authorization: Bearer [token]" -F "name=test"
    -F "map_type=F" -F modality=OTHER"
    -F "file=@/home/zorro/Downloads/lfc_70.nii.gz"
    http://neurovault.org/api/collections/3448/images

This simply returns the following and no file is adde

[2018-02-08 05:11] chrisfilo commented on #612
I shared a google doc with examples with you. Did you get it?

[2018-02-08 06:52] adelavega commented on #612
Yep, thanks, I'm going off that. Authorization, creating a collection, and all `GET` routes are working for me.

In that doc there is only an example for uploading a `nidm.zip` file type, however. Also, `pynv` (Luke Chang's neurovault uploading library) is also failing on this specific command. The curl command there is basically the same as pynv. This has me wondering if it's a bug, or I'm missin

[2018-02-08 06:56] adelavega commented on #612
Also sorry I had a copy paste error in the curl command, which I've fixed.

[2018-02-08 07:36] chrisfilo commented on #612
Hmm... Could you try https?

Best,
Chris

On Feb 7, 2018 10:56 PM, "Alejandro de la Vega" <notifications@github.com>
wrote:

[2018-02-08 18:03] adelavega commented on #612
Very nice. That works. I'll alert `pynv` of this issue as well. In the meantime, I might just use that library as it seems to cover my functionality, but let me know if you think this should be merged into pyneurovault.

[2018-02-08 18:03] #612 closed

[2018-02-24 11:53] CPernet opened #613 "utils.py"
could update line 476 def is_thresholded(nii_obj, thr=0.85):
to add a conditional statement for structural data, as VBM likely not to get above 0.85%

[2018-04-16 19:01] chrisfilo opened #618 "Add support for Martin and Bower template"
Template can be found at http://www.nil.wustl.edu/labs/kevin/ni/cyno/cyno.html

Has been used in this paper https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2822694/#B44

Depends on #617

Of interest to @asfox

[2018-04-23 19:39] chrisfilo opened #621 "Add support for Sprague-Dawley Rat Brain Atlas (A.Schwarz)"
https://www.sciencedirect.com/science/article/pii/S1053811906004836?via%3Dihub

Will require contacting the first author.

[2018-04-26 20:57] chrisfilo opened #622 "Improved surface/volume map translation"
https://github.com/ThomasYeoLab/CBIG/tree/master/stable_projects/registration/Wu2017_RegistrationFusion

[2018-04-27 03:40] chrisfilo opened #623 "Mouse - Allen Mouse Brain Common Coordinate Framework version 3"
https://scalablebrainatlas.incf.org/mouse/ABA_v3

[2018-05-10 21:11] chrisfilo opened #624 "Add NutBrain specific fields"
Waiting for P. Smeets for the list.

[2018-05-10 21:12] chrisfilo opened #625 "Add ability to provide arbitrary key/value pairs"

[2018-05-10 21:18] chrisfilo opened #626 "Modular front end tailored to different communities"
- Filtered to particular community (where community is a collection property)

[2018-05-10 21:24] chrisgorgo opened #627 "Meta-analysis feature."
Add an image-based meta-analysis feature to NeuroVault, allowing analysis of selected group maps
or single subject maps from different studies (pooled analysis). Should be available for private collections.

Question - how can users access private collections? A meta-collection? Consortium?

[2018-05-10 22:46] tyarkoni commented on #627
I think this is within the scope of the Neurosynth renewal... You're welcome to work on it before then if you like, but my thinking was that we would build an entirely new interface for Neurosynth that ingests both coordinate- and image-based data from NeuroVault, Brainspell, and potentially other sources. That way there would be a modular structure: NeuroVault for data, Brainspell for annotation,

[2018-05-10 22:52] chrisfilo commented on #627
Yup - this sounds like a good plan of achieving this. I added the issue to track functionality being part of the NutBrain subcontract.

[2018-06-30 21:30] chrisgorgo opened #630 "Upgrade to Python 3"
NeuroVault is currently using Python 2 which is outdated and soon will become deprecated. We need to switch to Python 3.

The transition will require modification of Dockerfile and applying automatic code conversion to the codebase. Automatic tests should pick on any problems.

The transition might require upgrading/fixing couple of custom dependencies:
- nidmresults
- pybraincompare
- pycortex

I

[2018-07-01 19:15] chrisfilo commented on #626
Each collections should be part of multiple communities.

[2018-07-02 02:24] chrisfilo opened #633 "Make certain map fields compulsory for a given community collection"

[2018-07-02 05:52] chrisfilo commented on #630
@AllenChong "PowerKill Project"? What do you mean?

[2018-07-02 12:50] abitrolly opened #636 "AHBA image fails to compile"
[code]

Why `libhdf5-8` is needed and not just `libhdf5`? (#630 research)

[2018-07-02 13:00] abitrolly commented on #84
This also adds Node dependency - https://github.com/NeuroVault/NeuroVault/pull/635

[2018-07-02 13:05] abitrolly commented on #630
A can of worms. :)

[2018-07-02 17:42] chrisfilo commented on #636
Thanks for reporting. I don't see why not, but I have not researched this well.

[2018-07-02 22:09] #636 closed

[2018-07-03 00:05] eayoungs commented on #630
Thanks! Will you be available on the Gitcoin Slack for on-boarding questions? If so, let me know what times are best for you.

[2018-07-03 00:07] chrisfilo commented on #630
I prefer an asynchronous and open mode of communicating via GitHub comments/issues, but I will keep checking the slack as well.

[2018-07-03 02:30] chrisgorgo opened #638 "WrapStructError: Binary block is wrong size"
https://sentry.io/neurovault/neurovault/issues/596562652/

[code]

[2018-07-03 03:17] eayoungs commented on #630
That's fine with me. I don't have a strong preference.

[2018-07-03 04:30] eayoungs commented on #630
Where is the _python3_ executable in the docker container? When I check out your ehh/python3 branch and execute `docker-compose exec uwsgi python3 --version` I get `OCI runtime exec failed: exec failed: container_linux.go:348: starting container process caused "exec: \"python3\": executable file not found in $PATH": unknown` but if I run the same command with `python` I get `Python 2.7.11`.

[2018-07-03 04:36] abitrolly commented on #636
Download speed is too slow to see if image compiles without libhdf5.

[2018-07-03 05:12] chrisfilo commented on #630
Did you rebuild neurovault/ahba? See https://github.com/NeuroVault/NeuroVault/compare/master...chrisfilo:enh/python3?expand=1#diff-dab3f2e328ed7df0c4d70e873d12854bL1

[2018-07-03 05:13] eayoungs commented on #630
^ Nevermind; I see it's in `ahba-docker`.

[2018-07-03 05:14] eayoungs commented on #630
Yep; gotcha! Thanks.

[2018-07-04 05:04] eayoungs commented on #630
OK, I think I have a handle on things. I'm almost ready to issue a WIP PR.
I had some trouble getting your `enh/python3` branch to work for me but I've got the project building under python3 and the packages seem to install fine with pip3, although there are a number of warnings and it's still compiling a bunch of stuff.
Since it took a bit longer than I thought to get here, I haven't really flesh

[2018-07-04 05:16] eayoungs commented on #630
Looks like there was one _ERR_ preventing uwsgi from building properly:
`Command python setup.py egg_info failed with error code 1 in /tmp/pip-build-ok44x00n/cryptography
Storing debug log for failure in /root/.pip/pip.log
ERROR: Service 'uwsgi' failed to build: The command '/bin/sh -c pip3 install 'django-dbbackup<2.3'' returned a non-zero code: 1`

[2018-07-04 16:18] chrisfilo commented on #630
I just pushed some fixes to my python3 branch. This is how you can use it

1. Checkout https://github.com/chrisfilo/NeuroVault/tree/enh/python3
2.  `docker build -t neurovault/ahba:py3 ahba_docker/`
3. ` docker build -t neurovault/neurovault .`

This currently builds, but tests (`docker-compose run --rm uwsgi python manage.py test`) fail with

[code]

Indicating that one of the dependencies (`nidm

[2018-07-04 17:20] #84 closed

[2018-07-04 17:21] chrisfilo opened #643 "Error: There was a problem reading that file (MNI152.nii.gz)"
When viewing atlases. For example https://neurovault.org/images/1699/
[code]

[2018-07-04 17:40] #643 closed

[2018-07-04 22:41] eayoungs commented on #630
No worries about the changes. Leaving 2 behind makes sense and simplifies things; glad we clarified that. As for the error, just disregard. I was just trying to show progress at the end of the day.

Thanks for fixes and direction. This makes things much clearer! I'll dig into the test and how to update or work around the dependency.

Have a great 4th!

[2018-07-05 03:29] vsoch commented on #630
hey @chrisfilo @eayoungs I'll have a version of nidmviewer with python 3 compatibility soon - should have time to work on it tomorrow.

[2018-07-05 03:30] chrisfilo commented on #630
Thanks!

On Wed, Jul 4, 2018 at 8:29 PM Vanessa Sochat <notifications@github.com>
wrote:

[2018-07-05 22:19] chrisfilo commented on #630
I would recommend patiently waiting until the downloads finish - without them some tests will definitely fail. You only have to build the `neurovault/ahba:py3` container once and then focus on `neurovault/neurovault` (this is why they were split).

`neurovault/ahba:py3` is actually smaller than the data it downloads, but due to lenght of the download we do not do int in CI. To make tests run on CI

[2018-07-05 22:58] abitrolly commented on #630
There is no need to derive from AHBA image. Just mount it in compose.

[2018-07-06 01:39] eayoungs commented on #630
Understood. Unfortunately, when I let it run the build fails with `Killed`, after it downloads all the files and the image never builds.
It seems to be overwhelming the resources available in the container.
I was able to build the image by commenting out `RUN python /code/scripts/preparing_AHBA_data.py` in `ahba_docker/Dockerfile`. The script is copied but not run during the build process.
When I

[2018-07-06 01:42] eayoungs commented on #630
@abitrolly I'm not sure what you mean. Where do you mount it from?

[2018-07-06 01:47] chrisfilo commented on #630
Ah I think I know what this is. Try increasing the amount of memory (RAM)
in docker for Mac/win settings. 5-6gb should be enough.

On Thu, Jul 5, 2018, 6:42 PM Eric Youngson <notifications@github.com> wrote:

[2018-07-06 03:59] eayoungs commented on #630
@chrisfilo How many errors did you get, exactly?

[2018-07-06 04:58] chrisfilo commented on #630
67

[2018-07-06 23:07] eayoungs commented on #630
Looks like most of the failed tests related to _nidmviewer_ reference either a print statement or utf-8 codec. I expect many of these will be resolved by the impending changes from the **nidviewer** project.
There seems to be an problem with **Django's** _RegexURLResolver_ (this function appears to have been deprecated after 1.9, although NeuroVault is using 1.8.8), which I'm working on now.

[2018-07-06 23:10] vsoch commented on #630
I think also merging of the changes to update to python 3 will resolve the small issues with print. When you are finished with your work with NeuroVault Django versions, do you want to test the PR branch for the nidmviewer? I'd be happy to work with you to make any fixes that are needed to get it merged!

[2018-07-07 01:33] eayoungs commented on #630
Yes, agreed; that sounds great, Vanessa. Let's check in on Monday.

On Fri, Jul 6, 2018, 4:10 PM Vanessa Sochat <notifications@github.com>
wrote:

[2018-07-07 02:08] vsoch commented on #630
Awesome! Looking forward to it :) Have a good weekend!

[2018-07-12 17:22] eayoungs commented on #630
I'm still working on this issue. I've opened PR #651 . Activity is mostly happening there.

[2018-07-15 17:45] chrisfilo commented on #630
As @eayoungs uncovered the automatic code conversion was not sufficient to solve all py3 issues and there are some still remaining. I increased the bounty to take this into account.

[2018-07-15 17:47] vsoch commented on #630
Anything I can help with? I don't accept bounty, just avocados :avocado: :avocado: :avocado: :) :wink:

[2018-07-15 17:54] eayoungs commented on #630
Thanks @vsoch . Most of the remaining errors are related to a single util function (a byte-string related issue). I need to do some debugging but I'll let you know as soon as I have more information.
I can definitely make some 🥑happen!

[2018-07-15 18:15] vsoch commented on #630
:D :D

You are my friend for life :)

[2018-07-15 19:52] eayoungs commented on #630
Hey, same goes for you; let me know if you need anything. I will be
watching for changes and testing against NeuroVault.

On Sun, Jul 15, 2018, 11:15 AM Vanessa Sochat <notifications@github.com>
wrote:

[2018-07-16 11:11] CPernet opened #653 "colour maps"
Dear Chris,

I'm not sure if all your colour maps have linear luminance change? I'm finishing to write a paper on data viz including something on colour maps and I 'fixed' the colour maps 'we' typically use, see here https://github.com/CPernet/brain_colours. (also for renders, isoluminant map might be a better option)

Note that the .lut do not work for mricron (??) so if you wish to test some, co

[2018-07-16 15:47] chrisfilo commented on #653
I have not verified this, but I believe that the default one is ok - it's the same one used in pysurfer.

[2018-07-25 00:09] eayoungs commented on #630
@vsoch Do you know much about the code that reads the _statmaps_?  Most of the test failures are related to saving the statmapfiles, specifically `save_statmap_form( )` function in **app/statmaps/tests/utils.py** and the `StatisticMapForm( )` class' `save( )` method.

Any light you can shed on these functions will be very helpful!

[2018-07-25 00:10] vsoch commented on #630
can you show me the errors / traceback?

[2018-07-25 00:11] vsoch commented on #630
A function to save a statmap form I'm guessing is going to be populating either a multiselect file field, or allow for upload of a compressed file, and then it will be passed to the form defined in forms.py, and then if the form is valid it will be passed to be saved as an object (likely with a really long function I remember that needs to do a gazillion checks and conversions for the input). So i

[2018-07-25 00:17] eayoungs commented on #630
`======================================================================
ERROR: test_atlases (neurovault.api.tests.test_atlas.TestAtlas)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/code/neurovault/api/tests/test_atlas.py", line 64, in setUp
    collection=self.Collection1
  File "/code/neurovault/apps/statmaps/tests/utils.py", l

[2018-07-25 00:18] vsoch commented on #630
Here is the form:

 - https://github.com/NeuroVault/NeuroVault/blob/master/neurovault/apps/statmaps/forms.py#L607

the clean() is usually called first to do some preprocessing of the data inputs, here is where we are subclassing the clean function to get the cleaned_data, which is what is entered into the form:

[code]
so if you read down from here, we are basically doing simple checks on the file

[2018-07-25 00:20] eayoungs commented on #630
Thanks! @vsoch I set up the project in Pycharm to do some debugging but ran into issues with the test database server. It's apparently not so easy to connect to a database in a separate docker container.

[2018-07-25 00:20] vsoch commented on #630
Yeah that seems about right, in terms of what is going on :) What I would do is add lines to print and to pickle the cleaned_data object (or whatever components you can) then restart, generate the bug, and then first see if the pickle is there. If it's not there, you need to move one level up to start debugging (and we can look again) if it is there, then shell in and load the pickle, and walk thr

[2018-07-25 00:42] vsoch commented on #630
And if this is a new error, I would check out the recent change to the form fields (and thus validation) https://github.com/NeuroVault/NeuroVault/commit/55df5a66c98bf879c15be63c2b869da7ae50ab76#diff-e292537566fdcadfbd9e7322b9e20564 it could be some kind of template is the wrong dimension, or something random like that (that the new additions doesn't check).

[2018-07-25 20:33] vsoch commented on #630
yes you must be doing the same thing as the CI? I was thinking of more live / interactive testing - for example the nidmviewer can't easily be programatically tested - it needs a human to load a page with nidm results and view. And then even with programmatic testing, it helps to interactively debug. At least that's the primary way I go about it, when possible.

[2018-07-25 22:13] eayoungs commented on #630
Yeah, I think that's necessary. Just takes a while to get familiar with the code-base. Also not real familiar with the subject matter.

[2018-07-25 22:22] vsoch commented on #630
Completely understand! If you are able to deploy a development server, I'd be happy to shell in and do some debugging. I like doing that alot :)

![image](https://user-images.githubusercontent.com/814322/43230733-51ccd15e-901e-11e8-8c94-2cf676f68b78.png)

[2018-08-02 15:53] eayoungs commented on #630
@gitcoinbot Still working on it.

[2018-08-02 16:53] vsoch commented on #630
That @gitcoinbot he's an impatient one! But it comes from a place of love, because he's doing his duty and life's work!

[2018-08-08 17:37] vsoch commented on #630
hey @eayoungs do you need any help?

[2018-08-10 19:35] eayoungs commented on #630
@gitcoinbot still working on it

[2018-08-10 19:35] eayoungs commented on #630
@vsoch Yes but it will probably have to be next week. Got caught in a loop: workin on an interview right now.

[2018-08-10 22:29] vsoch commented on #630
@eayoungs are you sure? it says above your last comment (3 hours ago) that it was cancelled. You might want to check with whatever platform it's coming from (gitcoinbot?)

[2018-08-11 04:42] abitrolly commented on #630
@chrisfilo move Bounty to https://github.com/vsoch/nidmviewer/issues/20 and mark it as Advanced instead of Intermediate on Gitcoin page https://gitcoin.co/issue/NeuroVault/NeuroVault/630/717? Because it is more complicated than it seems. For external contributors like me and @eayoungs starting the project for development takes a lot of time, and then there is a lot of testing needs to be done to e

[2018-08-28 02:09] #626 closed

[2018-10-11 14:39] zanospi opened #657 "Metadata are not included in the collections' zip files"
Hi,

Currently, the option to download a full collection only includes the `.nii.gz` files containing the images.
Would it be possible to add the metadata by including the `.json` files for both the maps and collection in the zip file?

Thanks

[2018-10-11 15:22] rmenuet opened #658 "Downloading full collections does not work for big ones"
Hi,

The option to download zip files containing full collections does not seem to work for very big ones.

I was able to download collections up to a few 10s of MB, but bigger ones (with hundreds or thousands of images, like [BrainPedia](https://neurovault.org/collections/1952/download)) crash very quickly. It does not seem to come from my Internet access: I tried to do so from 2 different (stabl

[2018-10-11 15:34] chrisfilo commented on #658
You should check out the API for downloading large collections and accessing metadata. More details in https://neurovault.org/FAQ

[2018-10-11 15:40] jeromedockes commented on #658
thanks @chrisfilo ! but is there no better way to download a large collection than to scroll through its images?

[2018-10-11 15:57] chrisfilo commented on #658
The API will give you the ability to download collections, images, metadata automatically (no scrolling involved). See https://github.com/NeuroVault/pyneurovault/blob/master/examples/download_example.py

[2018-10-11 15:58] zanospi commented on #658
Thanks @chrisfilo ,

To give some context following @jeromedockes 's comment: we are wondering about using these full collection files to speedup fetching data with nilearn. Going through the images one by one is becoming quite slow, especially with the big collections we recently uploaded.

[2018-10-11 16:00] chrisfilo commented on #658
The full collection files are created on the fly on the server side to avoid data duplication. This works well for most collections but fails for big ones which require long transfers of large archives. I don't think it will help in this context.

[2018-10-11 16:39] chrisfilo commented on #658
Having said that if you want to contribute a more robust way of providing large collections (that does not lead to redundancy) I would be more than happy to merge such PR.

[2018-10-20 16:59] chrisfilo opened #659 "Don't display uploader name for a private collection"
Helps running anonymous submissions for double-blind reviews or prediction markets.

[2018-10-21 00:23] chrisfilo opened #660 "Add explicit "general" community option"
Otherwise, it's not possible to unselect a community.

[2018-10-21 03:16] #660 closed

[2018-10-21 04:47] chrisfilo opened #664 "Don't list collections without associated papers on community pages"

[2018-10-21 05:17] chrisfilo opened #666 "Show which community a collection/map belongs to"

[2018-10-21 05:18] chrisfilo opened #667 "Show different analysis level maps in different tabs on collection view"

[2018-10-21 05:23] chrisfilo opened #668 "Make analysis level and number of subjects compulsory"
Number of subjects should be compulsory only for group level maps

[2018-10-21 05:25] chrisfilo opened #669 "Add 'Mixed' to handedness"

[2018-10-21 05:28] #664 closed

[2018-10-21 10:46] nicholst opened #670 "Add link to password reset"
As I seem to have two NeuroVault accounts, I was just about to login in and remove one.  However, I can't remember the password, and now it seems there is no password recovery option (though from #278 I can see there used to be one).

Is it hidden somewhere?  All I see is this...

<img width="1200" alt="screen shot 2018-10-21 at 11 45 32" src="https://user-images.githubusercontent.com/5155907/4726

[2018-10-21 17:19] chrisfilo commented on #670
http://neurovault.org/accounts/password/reset/

[2018-10-26 16:43] bthirion commented on #612
Sorry, I am getting the same error uploading an image using pynv.
[code]
What should I do ? Thx,

[2018-10-26 17:08] bthirion commented on #612
Oh, I was actually usings http, not https. Works better now...

[2018-11-08 00:17] #624 closed

[2018-11-08 00:17] #633 closed

[2018-11-08 00:17] #667 closed

[2018-11-08 00:17] #668 closed

[2018-11-08 00:17] #669 closed

[2018-11-08 00:18] chrisfilo opened #672 "place BMI after handedness"

[2019-01-03 10:06] ssstl opened #675 "Django Bad Practices: Pickle Serialized Sessions"
Hi,
This is Qihoo360 CodeSafe Team, we found a  Django Bad Practices: Pickle Serialized Sessions issue, see
neurovault/settings.py   At line 219
![image](https://user-images.githubusercontent.com/26295946/50631736-6f5b5d80-0f80-11e9-956b-9a816627be3b.png)

If cookie-based sessions are used and SECRET_KEY is leaked, an attacker will be able to store arbitrary data in the session cookie which will b

[2019-01-03 10:06] #675 closed

[2019-01-03 10:09] QiAnXinCodeSafe opened #676 "Django Bad Practices: Pickle Serialized Sessions"
Hi,
This is Qihoo360 CodeSafe Team, we found a Django Bad Practices: Pickle Serialized Sessions issue, see
neurovault/settings.py At line 219
![image](https://user-images.githubusercontent.com/39950310/50632389-a3d01900-0f82-11e9-9e75-d7112760cbee.png)

If cookie-based sessions are used and SECRET_KEY is leaked, an attacker will be able to store arbitrary data in the session cookie which will be d

[2019-02-12 09:09] rb643 commented on #589
This might be helpful: https://github.com/rb643/imaging_transcriptomics/blob/master/gene_decode.R

Its essentially a wrapper around the Enrichr package in R and could potentially be stripped down to be a bit more general

[2019-04-30 21:08] vsoch opened #681 "[greater good pledge] request for participation"
hey @NeuroVault/owners @NeuroVault/collaborators

I'm creating a new initiative, [The Greater Good](https://good-labs.github.io/greater-good-pledge/) that aims to highlight projects with no underlying incentives or ulterior motives - those that are "for the greater good." NeuroVault (I believe) fits strongly within the criteria, and I'm hoping that the community would like to participate. Particip

[2019-05-01 23:03] rwblair commented on #681
I see the pledge is under active development, and that a concern I had with the third point has been addressed already! I don't think we can commit to a pledge until it has been finalized and are pledging to a specific version and text.

I think this is a good idea, once a major version is finalized the contributors and maintainers should discuss it here.

[2019-05-01 23:17] vsoch commented on #681
This is totally understandable! It's going through active development, and I've love any feedback on the points / criteria that you might have. The strongest thus far is that we should focus criteria around transparency and disclosure, and not all or nothing "You will nots"

I will ping again when a version is released, and in the meantime please join in on the discussion, or leave comments here.

[2019-05-02 15:51] vsoch commented on #681
hey @rwblair if you have feedback, I created a doc to give it! I want to make sure the criteria are good so that projects "for the greater good" are excited (and not worried) about signing. I got some feedback and was thinking to change the first criteria (on the site) to be more about disclosure, but the current draft just sounds like annoying things to have to do. I want it to be about the spiri

[2019-05-09 02:08] tyarkoni opened #687 "Add NIH logo to front page support"
NeuroVault is now partly funded by NIH, so we should add the NIH logo to the front page.

[2019-05-13 21:54] tyarkoni opened #688 "Refactor models to house most fields under metadata"
Currently the `Collection` and `Image` models have a lot of first-order fields that are pretty specific and should probably be organized under free-form dictionaries. For example, `Image` fields like `tanner_stage` and `bis_bas_score` should probably go in a `.metadata` field that stores arbitrary key-value pairs; `Collection` fields like `used_motion_susceptibiity_correction` that are defined for

[2019-05-13 22:06] tyarkoni opened #689 "Search by last modified date"
Next-gen Neurosynth/NeuroStuff is going to provide a NIMADS view around the contents of NeuroVault. To avoid having to re-ingest the entire NeuroVault database periodically, we need to add the ability to search collections and images based on the `modify_date` (i.e., return only objects edited since a particular datetime).

[2019-06-11 11:29] eglerean opened #704 "Pycortex not showing"
Hello!

When teaching the tool to students, I have noticed that some recent maps are not showing the pycortex visualization and return a 500 Server Error.

E.g. https://neurovault.org/collections/5044/

thank you!!
Enrico

[2019-07-08 22:40] chrisgorgo opened #715 "ImportError: Failed loading extension "headerid"."
https://sentry.io/organizations/neurovault/issues/1073961754/?referrer=github_plugin

[code]

[2019-07-09 03:36] #715 closed

[2019-08-08 22:00] tyarkoni opened #721 "Add API route for pycortex data"
Currently it looks like the data required for pycortex is injected into the viewer template server-side. It would be helpful to add an API route that makes the static files for every image publicly accessible—this would allow external pycortex viewers to easily load NeuroVault images as layers. (tagging @alexhuth)

[2019-08-29 23:25] adelavega opened #722 "Add "Variance" as a Map Type"
We want to upload fitlins / neuroscout single subject results, and for maximal utility in future mega-analyses, variance as a map type would be very useful.

@rwblair seems easy right?

[2019-08-29 23:44] adelavega opened #723 "Markdown support for collection description"
I notice a lot of meta-data that the API supports is not displayed, such as `paper_url`. This would be useful (or another more generic field), for linking back to NeuroScout.

[2019-08-30 21:48] #722 closed

[2019-08-30 21:50] chrisgorgo commented on #723
Isn't the paper DOI sufficient to generate a URL? `https://doi.org/<doi>`

[2019-08-31 04:42] adelavega commented on #723
Haven't tried it, but we are looking for a way to link back to Neuroscout (and were really just goign to abuse the `paper_url`)

[2019-09-02 17:27] chrisgorgo commented on #723
I see two options:
1) you can use `full_dataset_url`field
2) someone can implement full markdown support in collection description.
You could add a custom URL linking back to neuroscout there.

On Fri, Aug 30, 2019, 9:42 PM Alejandro de la Vega <notifications@github.com>
wrote:

[2019-09-03 17:14] adelavega commented on #723
Sounds like good options to me.

We'll probably go with #1 (currently being used to link to OpenNeuro raw dataset), but maybe #2 can be opened as a separate issue.

[2019-10-03 18:31] rwblair opened #726 "fileField defaults to a max length of 100."
https://docs.djangoproject.com/en/dev/ref/models/fields/#filefield

@adelavega ran into this limit when uploading some files from neuroscout with verbose bidsy filenames. should make max_length explicit and bigger for any filefields.

[2019-12-11 17:56] muschellij2 opened #728 "Content Encoding and Windows cURL"
Duplicate reference https://neurostars.org/t/encoding-of-neurovault-curl-output/5576/4

Something about the HTTP configuration has `content-encoding` misspecified.  This seems to happen only on Windows cURL.

For example, trying to download: https://neurovault.org/media/images/77/zstat-young.nii.gz

[code]

This worked 2 years ago: https://ci.appveyor.com/project/muschellij2/neurovault/builds/1303

[2020-01-20 17:07] koudyk opened #729 "spam collection called "Xaretlothork""
I found a collection with 0 images called "Xaretlothork". I think it's spam because when I translate the description from Russian to English, it looks like an advertisement for another website.

[2020-01-20 17:50] chrisgorgo commented on #729
Thanks! I deleted it.

[2020-01-20 17:50] #729 closed

[2020-02-25 21:02] rwblair commented on #726
Bumped limit for Image.file to 500 on production.

[2020-02-25 21:02] #726 closed

[2020-05-13 23:02] tyarkoni opened #731 "Datatables error on attempt to change sort direction of Type"
I assume this is true of all collections, but haven't checked (see, e.g., https://neurovault.org/collections/7586/). If you try to sort on Type, you get a datatables ajax error (after a few seconds). Other columns seem to work okay. I'm guessing this is either because `type` is reserved in Python, or because the names aren't mapping right from the table to the model.

[2020-08-10 08:52] JoramSoch opened #732 "Images are not overwritten; multi-image delete is not possible"
I created a Neurovault repository:
- upload via folder -> nothing happened
- upload via archive -> images uploaded incompletely

I was now trying to upload the images via seperate ZIPs and it turned out that those images which made it up during the first try *are not overwritten, but the collection now contains two images with the same name* (very suboptimal and possibly not intended). My next goa

[2020-08-10 10:11] JoramSoch commented on #732
It turned out that images can be deleted by simply calling the URL `https://neurovault.org/images/[img_ID]/delete`. I wrote a little function to automatize this (see below) and now my problem is solved.

[code]

Still, having an interface solution for this would be nice.

[2020-08-11 02:52] JoramSoch opened #733 "When clicking on "My collections", the tab title says "My ollections""
The error is [here](https://github.com/NeuroVault/NeuroVault/blob/master/neurovault/apps/statmaps/templates/statmaps/my_collections.html#L4).

[2020-09-20 22:20] mvdoc opened #734 "Uploading fsaverage maps (without MNI maps) & bad gateway error"
Hi all,

I'm trying to upload some gifti files to NeuroVault without any associated nifti. All analyses were run on fsaverage, so I don't have any volumetric results. I noticed that it's possible to select surface files for each hemisphere, so I ignored the nifti file requirements and tried to upload these files by themselves. Unfortunately, I consistently get an Error 502: Bad Gateway.

Is it act

[2020-09-30 20:23] koudyk opened #735 "typos and broken links in the API documentation"
I found 2 small problems with links on the [API documentation page](https://www.neurovault.org/api-docs):
1. in the example for `/api/images/{pk}/`, the pk value in the visible text and the value in the link don't match, and neither work.
2. in the examples for `/api/collections/{pk}/` and `/api/collections/{pk}/images`, the pk value in the visible text is 20, but the value in the link is 287.

[2020-09-30 20:54] koudyk opened #737 "add contributing guide and code of conduct?"
:wave: I'm new here. I recently opened an issue and a PR on this repo, but I couldn't find any guidelines for how to do so. If you're looking for new contributors, do you think it would help to add a contributing guide and a code of conduct?

Perhaps NeuroVault could use the  [STEMRoleModels CONTRIBUTING file](https://github.com/KirstieJane/STEMMRoleModels/blob/gh-pages/CONTRIBUTING.md)  and the

[2020-11-13 21:12] JoramSoch opened #738 "Adding bioRxiv DOI to repository does not work"
When adding a DOI from a corresponding preprint at bioRxiv, interface says "Could not resolve DOI".

[2020-11-13 21:17] JoramSoch commented on #738
Example:
- Collection: https://neurovault.org/collections/EKUNXKRB/
- DOI: 10.1101/2020.07.27.220871

[2020-12-07 06:07] KevinAquino opened #739 "Easy commands to download all images?"
Hi all,

I am new to neurovault and would like to download all T maps?. Is there a way to do so with nilearn? thanks!

[2020-12-07 07:55] #739 closed

[2021-04-02 13:46] neurolabusc opened #740 "Set intention flag for label maps"
This issue relates to this [NITRC question](https://www.nitrc.org/forum/message.php?msg_id=32307). Consider the [ Destrieux atlas that is available to download from NeuroVault](https://neurovault.org/collections/1447/). Despite being a discrete label map, the [NIfTI](https://nifti.nimh.nih.gov/pub/dist/src/niftilib/nifti1.h) image has some deficiencies. First, the `datatype` is `DT_FLOAT` where di

[2021-04-09 10:15] dfsp-spirit opened #741 "Neurovault upload API?"
I am interested in **uploading** data to Neurovault via the API, but could not find any [API documentation](https://neurovault.org/api-docs) on that. Is there such an API or is one planned?

Best,

Tim

[2021-04-21 09:27] abitrolly opened #743 "The repo doesn't build anymore"
Even after https://github.com/NeuroVault/NeuroVault/pull/742 the attempt to build the Dockerfile fails, because of outdated fork of `django-guardian` that doesn't pin to specific version of `pytest-runner`, compatible with Python 2.7. The solution is to update code in https://github.com/django-guardian/django-guardian/pull/421#issuecomment-225353878 to linked PR, but I can't do this.

Just found t

[2021-08-10 08:32] HusBunia opened #744 "Gene decoding button is gray"
Hello,
I find that the gene decoding function is greyed out for the whole-brain images I uploaded. No warning has occurred. I am working on a group averaged images, and all of the images were in MNI space by using Flirt. The images intensity were range from 0-1.  I have tried to follow the instruction of alleninf.py, but the code seems out of date. Could you help me about the problem?  A nifti fil

[2021-11-07 18:24] adelavega opened #745 "DataTables error when switching pages"
[code]

Makes it difficult to browse images

cc: @rwblair

[2022-09-26 15:57] jdkent opened #746 "Create working build of Neurovault on a local machine"
update requirements and add instructions on how to create a working build of neurovault on a local machine.

[2022-09-26 15:59] jdkent opened #747 "Create working file upload process"
file upload does not currently work.

[2022-09-26 16:00] jdkent opened #748 "Get unittests working again"
all unit tests are currently failing on local build

[2022-09-26 16:03] jdkent opened #749 "CI: Add github actions to run tests"
Currently no CI is being run, we would like to have:
- CI on pull requests
- CI as a cron job (monthly?)
- run the CI using docker-compose (as opposed to direct install)

[2022-09-26 16:07] jdkent opened #750 "Decide on staging strategy"
whether staging should be done on
- deepdream
  -  pro:
    - free (to us)
  - con:
    - is not a permanent solution (not owned by stanford)
    - is not on same type of machine as production
- aws
  - pro:
    - can be owned by stanford
    - same type of machine as production
  - con:
    - non-trivial setup
    - cost

[2022-09-26 16:08] jdkent opened #751 "Build a script to deploy neurovault to staging/production"
create a script that can be run locally with the correct credentials or on github actions (with secrets) in order to deploy to staging/production servers.

[2022-09-26 16:10] jdkent opened #752 "Add API documentation"
Add embedded documentation about the API so the endpoints are explained/understandable.

[2022-09-26 16:12] jdkent opened #753 "Create location for integrated documentation"
- API documentation
- SDK documentation
- website documentation

represent/link to all these sources from a single location

[2022-09-26 16:13] jdkent opened #754 "Rewrite README.md"
Rewrite the README.md file to have more relevant information about build process and description of the overall project

[2022-09-26 16:19] jdkent opened #755 "Create openapi specification"
From the existing code create an openapi specification

[2022-09-26 16:22] jdkent opened #757 "create python SDK from openapi spec"

[2022-09-26 16:28] jdkent commented on #755
relevant doc: https://www.django-rest-framework.org/api-guide/schemas/#generating-an-openapi-schema

[2022-09-26 16:36] adelavega opened #760 "add CI test of docker image building"

[2022-09-26 16:41] PeerHerholz commented on #752
Currently there two `python API`s available that, however, diverge in functionality and thus, as well as for housekeeping should be unified:

- [pynv](https://github.com/NeuroVault/pynv)
- [pyneurovault](https://github.com/NeuroVault/pyneurovault)

The work on this issue should/will include the following tasks:

- [ ] list & evaluate functionality
- [ ] decide on API package & integrate the other

[2022-09-26 17:05] jdkent commented on #755
would we want the openapi specification in it's own repository? in this case changes to the neurovault code are driving the changes to the openapi document so I can't think of any reason they would be functionally independent, may even want the openapi spec to get generated through a bot commit through github actions.

[2022-09-26 21:29] PeerHerholz opened #762 "alignment & formatting of Settings tabs"
The alignment and formatting of the `tabs` under `Settings` in a given user's profile appears to be somewhat off:

<img width="809" alt="Screen Shot 2022-09-26 at 4 28 31 PM" src="https://user-images.githubusercontent.com/20129524/192383975-5f47905b-6d8a-4344-bd76-704f4f127ce4.png">

Should hopefully be an easy `html` fix.

[2022-09-26 21:43] PeerHerholz commented on #752
`pynv`

- installation via `pypi` works, results in `0.2`
- creation of collection (`api.create_collection`) & adding of an image (`api.add_image`) works
- updating an existing image via `api.update_image` doesn't work (`AttributeError: 'Client' object has no attribute 'update_image'`
-  deleting an existing image or collection via `api.delete_image/.delete_collection` doesn't work (`AttributeErro

[2022-09-26 22:27] PeerHerholz commented on #752
`pyneurovault`

- installation via `pip` + `github` works, results in `0.1.3.`
- `dois_example.py` works, thus obtaining all collections and wrangling the corresponding data
- `download_example.py` appears to work, thus downloading and filtering
- `query_example.py` doesn't work, some `python 2/3` things and `KeyError: 0` in `images = get_images_with_collections(collection[0]["id"])[0]`

[2022-09-27 18:44] rwblair opened #763 "[upgrade] Papaya template unpacking not working."
After library upgrades the GenericMNI.nii.gz is not being unpacked by papaya. A temporary workaround of hardcoding the uncompressed version for the most general case in statisticmap_detail.html is in place. Need to either solve issue with gz or universally use uncompressed in all cases..

[2022-09-27 21:15] rwblair opened #765 "[upgrade] Add fixture for DefaultOauthApp"
token generation views are expecting a specific Application model object to exist at pk -1, this should be created on start up.

[2022-09-27 21:40] rwblair commented on #765
loaddata is not a fan of the pk -1

[2022-09-27 21:40] #765 closed

[2022-10-28 17:03] adelavega opened #766 "Data release"
Jerome Dockes suggested doing a NeuroVault data release (on a regular basis) to facilitate data mining efforts.